<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            background-image: linear-gradient(to right, gray, lightgray);
        }
    </style>
</head>
<body>
{% block content -%}
    {%- block mainmenu -%}
        <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                        aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span> Menu
                </button>
                {% if current_user.is_authenticated %}
                    <div class="collapse navbar-collapse" id="ftco-nav">
                    <div class="navbar-nav m-auto">
                    {% if not user and superuser %}
                        <div class="dropdown">
                            <span class="nav-item"><p class="nav-link">Работа с
                            пользователем</p></span>
                            <div class="dropdown-content">
                                <a href="{{ url_for('financial.add') }}" class="nav-link">Добавить</a>
                                <a href="{{ url_for('financial.change') }}" class="nav-link">Изменить</a>
                            </div>
                        </div>
                        <div class="dropdown">
                            <span class="nav-item"><p class="nav-link">Счета</p></span>
                            <div class="dropdown-content">
                                <a href="{{ url_for('financial.wallet') }}" class="nav-link">Открыть счет</a>
                                <a href="{{ url_for('financial.changewallet') }}" class="nav-link">Редактировать</a>
                            </div>
                        </div>
                        <li class="nav-item"><a href="{{ url_for('financial.paynment') }}" class="nav-link">Оплата</a>
                        </li>
                    {% endif %}
                    <li class="nav-item"><a href="{{ url_for('financial.income') }}" class="nav-link">Доход</a></li>
                    <li class="nav-item"><a href="{{ url_for('financial.outcome') }}" class="nav-link">Расход</a></li>
                    <li class="nav-item"><a href="{{ url_for('financial.move') }}" class="nav-link">Перевод</a></li>
                    <li class="nav-item"><a href="{{ url_for('financial.exchange') }}" class="nav-link">Обмен</a></li>
                    <li class="nav-item"><a href="{{ url_for('financial.logout') }}" class="nav-link">Выйти</a>

                {% endif %}
                </div>
                </div>
            </div>
        </nav>
    {% endblock mainmenu -%}

    <div class='right'>
        <div class="col-md-6 text-center mb-5">
            <h2 class="heading-section">Кошельки</h2>
        </div>
        <table class="currency" style="border: none">
            <thead>
            <tr style="border: none">
                <th>Кошелек</th>
                {% for th in ths %}
                    <th>{{ th.name }}</th>
                {% endfor %}
            </tr>
            </thead>
        </table>
        <div class='right_comments' id='setcomments'>
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">История</h2>
            </div>
            <table class="comments" id="userstory">
                <thead>
                </thead>
            </table>
        </div>
    </div>
    <p id="session" hidden>{{ session['UUID'] }}</p>
    <script src="{{ url_for('static', filename='js/purse.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/comments.js') }}"></script>
    <script>
        window.setInterval(function () {
            document.getElementById('setcomments').scrollTop = message.offsetHeight + message.offsetTop;

        }, 5000);
    </script>
    </body>
{% endblock %}
</html>


