<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link type="text/css" href="/static/css/style.css" rel="stylesheet"/>

    <script type="text/javascript"
            src="http://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=kU-sN9AUuGaoZdkz8-HUOwhIA1KdBB59Tyvfr149LCiinUe6mbElSVmOPEwPMa0Q"
            charset="UTF-8"></script>
</head>
<body>
<script type="text/javascript"
        src="/static/js/users.js"></script>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <div class="navbar-nav m-auto">

                <div class="dropdown">
                           <span><a href="/income" class="last">Работа с
                            пользователем</a></span>
                    <div class="dropdown-content">
                        <a href="/add" class="nav-link">Добавить</a>
                        <a href="/change" class="nav-link">Изменить</a>
                    </div>
                </div>
                <li class="nav-item"><a href="/pay" class="nav-link">Оплата</a></li>

                <li class="nav-item"><a href="/income" class="nav-link">Доход</a></li>
                <li class="nav-item"><a href="/outcome" class="nav-link">Расход</a></li>
                <li class="nav-item"><a href="/move" class="nav-link">Перемещение</a></li>
                <li class="nav-item"><a href="/exchange" class="nav-link">Обмен</a></li>
                <li class="nav-item"><a href="/logout" class="nav-link">Выйти</a>
                </li>

            </div>
        </div>
    </div>
</nav>

<table class="equal-width-cols">
    <thead>
    <tr>

        <th>Имя</th>
        <th>Пароль</th>
        <th>Изменить</th>
        <th>Удалить</th>

    </tr>
    </thead>
</table>
</body>
<script src="static/js/jquery.min.js"></script>
<script src="static/js/popper.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/main.js"></script>

</html>
