{% extends 'base.html' %}
{% block content %}
    <head>
        <meta charset="UTF-8">
        <title>Обмен</title>
    </head>
    <body>
    {{ super() }}

    <div class="col-md-7 col-lg-5" style="padding-left: 10px;padding-bottom: 10px;width: 50%">
        <div class="col-md-6 text-center mb-5">
            <h2 class="heading-section">Обменять</h2>
        </div>
        <div class="wrap">
            <div class="login-wrap p-4 p-md-5">
                {% for cat, msg in get_flashed_messages(True) %}
                    <script type="text/javascript">window.setTimeout("document.getElementById('successMessage').style.display='none';", 5000); </script>
                    <div id="successMessage" class="flasherror">{{ msg }}</div>
                    <br>
                {% endfor %}
                <form action="" method="post" class="form-contact" name="popup" id="exchangeform">
                    <div class="form-group mt-3">
                        <label class='labelstyle'>Продали из:</label>
                        <select name="wallet_from" class="form-control" id='wallet'>
                            {% for s in selected_from %}
                                <option value="{{ s.name }}">{{ s.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group mt-3">
                        <label class='labelstyle'>Сумма:</label>
                        <input id="changedsumma" name="summa" type="number" step="0.01" class="summa_inline"
                               onkeyup="exchanged()">
                    </div>
                    <div class="form-group mt-3">
                        <label class='labelstyle'>Валюта продажи:</label>
                        <select id='currencies_sold' name="valuta_sold" class="form-control" onchange="exchanged()">
                            {% for v in ths_from %}
                                <option value="{{ v.name }}">{{ v.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group mt-3">
                        <label class='labelstyle'>Валюта покупки:</label>
                        <select id='currencies_buy' name="valuta_buy" class="form-control" onchange="exchanged()">
                            {% for v in ths_to %}
                                <option value="{{ v.name }}">{{ v.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group mt-3">
                        <label class='labelstyle'>Курс:</label>
                        <input id="rate" name="summa" class="summa_inline" onchange="exchanged()"
                               type="number" step="0.001">
                    </div>
                    <div id="errormessage" class="flasherror"></div>
                    <div class="form-group mt-3">
                        <label>
                            <div style="display:inline-block">
                                <label class='labelstyle'>Получили:</label><br>
                                <input id="newsumma" class="summa_inline" step="0.01" onchange="onchange_summa()"
                                       name="changed_summa"
                                       style="border: none">
                                <label class='labelstyle'>по курсу</label>
                                <input id="valuta" name="rate_exchange" class="valuta" style="border: none" step="0.01"
                                       onchange="onchange_rate()">
                            </div>
                        </label>
                    </div>
                    <div class=" form-group mt-3">
                        <label id='comments' class='labelstyle'>Коментарий<input type="text"
                                                                                 class="form-control" name="comments"/></label>
                    </div>
                    <div class=" form-group mt-3">
                        <label id='date' class='labelstyle'>Дата<input type="datetime-local"
                                                                       class="form-control" name="date" id='today'
                                                                       onchange="more_then_now()"
                                                                       required/></label>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="form-control btn btn-primary rounded submit px-3" id="submitID">
                            Подтвердить
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class='flex_end' style="padding-top: 20px">
        <button class="openChatBtn" onclick="openForm()">Техподдержка</button>
        <div class="openChat">
            <form class="formpopup" method="post">
                <label for="msg"><b>Введите сообщение</b></label>
                <textarea placeholder="Сообщение..." name="errormessage" required></textarea>
                <button type="submit" class="btn" name='popup'>Отправить</button>
                <button type="button" class="btn close" onclick="closeForm()">
                    Закрыть
                </button>
            </form>
        </div>
        <script src="{{ url_for('static', filename='js/forms.js') }}"></script>
        <script src="{{ url_for('static', filename='js/support.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/exchange.js') }}"></script>
        <script>
            let form = document.getElementById('exchangeform');
            let submitButton = document.getElementById('submitID');
            form.addEventListener('submit', function () {
                submitButton.setAttribute('disabled', 'disabled');
                submitButton.value = 'Please wait...';
            }, false);

            let now = new Date();
            now.setMinutes(now.getMinutes() - now.getTimezoneOffset());
            document.getElementById('today').max = now.toISOString().slice(0, 16);
            document.getElementById('today').value = now.toISOString().slice(0, 16);
            let global_date = document.getElementById('today').value

            function more_then_now() {
                let current = document.getElementById('today').value
                if (current.slice(11, 16) > global_date.slice(11, 16) && current.slice(0, 10) === global_date.slice(0, 10)) {
                    document.getElementById('today').value = global_date;
                }
            }

        </script>
    </div>
    </body>
{% endblock %}
