{% extends 'base.html' %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Добавить средства</title>
    </head>
    <body>
    {{ super() }}

    <div class="col-md-7 col-lg-5" style="padding-left: 10px;padding-bottom: 10px;width: 50%">
        <div class="col-md-6 text-center mb-5">
            <h2 class="heading-section">Внести</h2>
        </div>
        <div class="wrap">
            <div class="login-wrap p-4 p-md-5">
                {% for cat, msg in get_flashed_messages(True) %}
                    <div class="flash {{ cat }}">{{ msg }}</div>
                {% endfor %}
                <form action="" method="post" class="form-contact" id="incomeform" autocomplete="off">
                    {{ form.hidden_tag() }}
                    {% for field in form if field.name not in ['csrf_token', 'remember', 'submit'] -%}
                        <p>                                    {% if field.errors %}
                            {{ field(class="invalid") }}
                            <span class="invalid-feedback">
		{% for e in field.errors %}
            {{ e }}
        {% endfor %}
	</span>
                        {% else %}
                            {% if field.name =='date' %}
                                <p>{{ field.label() }}</p>
                                <div class="form-group mt-3">
                                    {{ field(class="form-control",id='date') }}
                                </div>
                            {% elif field.name !='date' %}
                                <p>{{ field.label() }}</p>
                                <div class="form-group mt-3">
                                    {{ field(class="form-control") }}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <div class="form-group">
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary rounded submit px-3"
                                    id="submitID">
                                Подтвердить
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class='flex_end' style="padding-top: 20px">
        <button class="openChatBtn" onclick="openForm()">Техподдержка</button>
        <div class="openChat">
            <form class="formpopup" id='popup' method="post">
                <label for="msg"><b>Введите сообщение</b></label>
                <textarea placeholder="Сообщение..." name="errormessage" required></textarea>
                <button type="submit" class="btn">Отправить</button>
                <button type="button" class="btn close" onclick="closeForm()">
                    Закрыть
                </button>
            </form>
        </div>
        <script src="{{ url_for('static', filename='js/forms.js') }}"></script>
        <script src="{{ url_for('static', filename='js/defaulttime.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/support.js') }}" defer></script>
        <script>
            let form = document.getElementById('incomeform');
            let submitButton = document.getElementById('submitID');
            form.addEventListener('submit', function () {
                submitButton.setAttribute('disabled', 'disabled');

                submitButton.value = 'Please wait...';

            }, false);
        </script>
    </div>
    </body>
    </html>
{% endblock %}