{% extends 'base.html' %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Переместить средства</title>
    </head>
    <body>
    {{ super() }}
    <div class="col-md-7 col-lg-5" style="padding-left: 10px;padding-bottom: 10px;width: 50%">
        <div class="col-md-6 text-center mb-5">
            <h2 class="heading-section">Перевести</h2>
        </div>
        <div class="wrap">
            <div class="login-wrap p-4 p-md-5">
                {% for cat, msg in get_flashed_messages(True) %}
                    <div class="flash {{ cat }}">{{ msg }}</div>
                {% endfor %}
                <form action="" method="post" class="form-contact">
                    {{ form.hidden_tag() }}
                    {% for field in form if field.name not in ['csrf_token', 'remember', 'submit'] -%}
                        <p>                                    {% if field.errors %}
                            {{ field(class="invalid") }}
                            <span class="invalid-feedback">
		{% for e in field.errors %}
            {{ e }}
        {% endfor %}
	</span>
                        {% else %}
                            <p>{{ field.label() }}</p>
                            <div class="form-group mt-3">
                                {{ field(class="form-control") }}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="form-group">
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary rounded submit px-3">
                                Подтвердить
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    </body>
    </html>
{% endblock %}