<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить кошелек</title>
</head>
<body>
<link type="text/css" href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"/>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <div class="navbar-nav m-auto">
                <div class="dropdown">
                            <span class="nav-item"><p class="nav-link">Работа с
                            пользователем</p></span>
                    <div class="dropdown-content">
                        <a href="{{ url_for('financial.add') }}" class="nav-link">Добавить</a>
                        <a href="{{ url_for('financial.change') }}" class="nav-link">Изменить</a>
                    </div>
                </div>
                <div class="dropdown">
                    <span class="nav-item"><p class="nav-link">Счета</p></span>
                    <div class="dropdown-content">
                        <a href="{{ url_for('financial.wallet') }}" class="nav-link">Открыть счет</a>
                        <a href="{{ url_for('financial.changewallet') }}" class="nav-link">Редактировать</a>
                    </div>
                </div>
                <li class="nav-item"><a href="/paynment" class="nav-link">Оплата</a></li>
                <li class="nav-item"><a href="/income" class="nav-link">Доход</a></li>
                <li class="nav-item"><a href="/outcome" class="nav-link">Расход</a></li>
                <li class="nav-item"><a href="/move" class="nav-link">Перевод</a></li>
                <li class="nav-item"><a href="/exchange" class="nav-link">Обмен</a></li>
                <li class="nav-item"><a href="/logout" class="nav-link">Выйти</a>
                </li>
            </div>
        </div>
    </div>
</nav>
<div class="col-md-7 col-lg-5" style="padding-left: 10px;padding-bottom: 10px;width: 50%">
    <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section">Открыть счет</h2>
    </div>
    <div class="wrap">
        <div class="login-wrap p-4 p-md-5">
            {% for cat, msg in get_flashed_messages(True) %}
                <div class="flash {{ cat }}">{{ msg }}</div>
            {% endfor %}
            <form action="" method="post" class="form-contact">
                {{ form.hidden_tag() }}
                {% for field in form if field.name not in ['csrf_token', 'remember', 'submit'] -%}
                    <p>                                    {% if field.errors %}
                        {{ field(class="invalid") }}
                        <span class="invalid-feedback">
		{% for e in field.errors %}
            {{ e }}
        {% endfor %}
	</span>
                    {% else %}
                        {% if field.name=='wallet' %}
                            <p>{{ field.label() }}</p>
                            <div class="form-group mt-3">
                                {{ field(class="form-control") }}
                            </div>
                        {% endif %}
                        {% if field.name=='visibility' %}
                            <p>{{ field.label() }}</p>
                            <div class="form-group mt-3">
                                {{ field(class="form-control",onchange="get_value()", id="valuetoshowall") }}
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <div id='hider'>
                    <p>Выберите для каких пользователей</p>
                    <div class="form-group mt-3">
                        <input type="checkbox" onclick="toggle(this)" name="All">Всех<br>
                    </div>
                    {% for u in variant %}
                        <div class="form-group mt-3">
                            <input type="checkbox" name="{{ u.name }}">{{ u.name }}<br>
                        </div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <button type="submit" class="form-control btn btn-primary rounded submit px-3">
                            Подтвердить
                        </button>
                    </div>
                </div>
            </form>
            <a href="{{ url_for('financial.changewallet') }}">
                <button class="form-control btn btn-primary rounded submit px-3">
                    Вернуться назад
                </button>
            </a>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script>
        function get_value() {
            let valuetoshowall = document.getElementById('valuetoshowall')
            if (valuetoshowall.value === 'Нет') {
                document.getElementById('hider').style.display = 'none'
            } else if (valuetoshowall.value === 'Да') {
                document.getElementById('hider').style.display = 'block'
            }
        }

        function toggle(source) {
            let checkboxes = document.querySelectorAll('input[type="checkbox"]');
            for (let i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i] !== source)
                    checkboxes[i].checked = source.checked;
            }
        }
    </script>
</div>
</body>
</html>
